Django==5.0.1 # https://docs.djangoproject.com/en/5.0/
psycopg==3.1.17 # https://www.psycopg.org/
pygit2==1.14.0 # https://github.com/libgit2/pygit2
playwright==1.41.1 # https://github.com/Microsoft/playwright-python
