{% extends 'base.html' %}

{% block main %}
<h1>Project Detail</h1>
<div class="row">
    <div class="col-8">
        <ul class="list-group">
            <li class="list-group-item gs-body">
                <div class="d-flex justify-content-between">
                    <div class="fw-bold">Name</div>
                    <div class="fw-bold">Last commit</div>
                    <div class="fw-bold">Last update</div>
                </div>
            </li>
            <li class="list-group-item gs-body">A second item</li>
            <li class="list-group-item gs-body">A third item</li>

        </ul>
    </div>
    <div class="col-4">

    </div>
</div>
{% endblock main %}